@page "/chat"
@using System.Collections.Specialized
@inject ChatApp2.Client.ViewModeli.ISlanjePoruke SlanjeVM
@inject ChatApp2.Client.ViewModeli.IPregledPoruka PregledVM


<ul>
    @foreach(var p in PregledVM.Messages)
    {
        <li>@p.UserName : @p.Content</li>
    }
</ul>
<EditForm Model=SlanjeVM.Poruka OnSubmit=SlanjeVM.Slanje>
    <InputText @bind-Value=SlanjeVM.Poruka.Content/>
    <button type="submit">Slanje</button>
</EditForm>

@code
{
    protected override void OnInitialized()
    {
        PregledVM.Messages.CollectionChanged += 
            (object? sender, NotifyCollectionChangedEventArgs e)
            => StateHasChanged();
    }
}


