@page "/chat"
@inject ChatApp2.Client.ViewModeli.ISlanjePoruke SlanjeVM
@inject ChatApp2.Client.ViewModeli.IPregledPoruka PregledVM

<ul>
    @foreach(var p in PregledVM.Messages)
    {
        <li>@p.User : @p.Content</li>
    }
</ul>
<EditForm Model=SlanjeVM.Poruka OnSubmit=SlanjeVM.Slanje>
    <InputText @bind-Value=SlanjeVM.Poruka.Content/>
    <button type="submit">Slanje</button>
</EditForm>

@code
{
    protected override async Task OnInitializedAsync()
    {
        Osvezavanje();
    }

    private async Task Osvezavanje()
    {
        do
        {
            await Task.Delay(500);
            StateHasChanged();
        } while (true);
    }
}


