@page "/counter"
@inject Blazored.LocalStorage.ILocalStorageService localStore

<PageTitle>Counter</PageTitle>

<h1>Korisnik: @Test</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string Test = string.Empty;
    private async void IncrementCount()
    {
        currentCount++;
        await localStore.SetItemAsync<int>("broj", currentCount);
    }

    protected override async Task OnInitializedAsync()
    {
        if (await localStore.ContainKeyAsync("ulogovan"))
        {
            Test = await localStore.GetItemAsync<string>("ulogovan");
            StateHasChanged();
        }
        if (await localStore.ContainKeyAsync("broj"))
        {
            currentCount = await localStore.GetItemAsync<int>("broj");
            StateHasChanged();
        }
    }
}
